*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}

.content {
  display: flex;
  gap: 30px;
  margin: auto;
  max-height: 534px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__textfield {
  box-sizing: border-box;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #fff;
  padding: 2.5px 0;
}

.search-form__textfield::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
.search-form__textfield:active {
  border: 1px solid #fff;
}
.search-form__textfield:focus {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  position: relative;
  padding: 1px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:focus {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.button {
  height: 34px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  overflow: hidden;
  width: 399px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  position: relative;
  max-height: fit-content;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 25px 0 0;
}
.content__list-item {
  box-sizing: border-box;
  height: 107px;
  display: flex;
}

.content__card-link {
  font-family: Oswald;
  width: 394px;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  width: 394px;
  height: 107px;
  box-sizing: border-box;
  padding: 2px 0 2px 2px;
  justify-content: center;
}

.content__video-card-description-container {
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-right: -2px;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
}

.more-button {
  width: 100%;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
}
